html, body {
  background: #222;
  color: white;
  font-family: fantasy;
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  min-height: 100vh; /* Ensure the body covers the viewport height */
}

.main-content{
  width: 300px;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.center {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content horizontally */
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.the-button {
  border: none;
}

.the-button:not(:hover) .image {
  opacity: 0.7;
}

.the-button:hover .image {
  opacity: 1;
}

div.image::before {
  content:url(shiori_heart_1.png);
};
