html, body {
  background: #222;
  color: white;
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  min-height: 100vh; /* Ensure the body covers the viewport height */
}

.main-content{
  width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
